@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
body {
  background: #090b1a;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(#1b1938), to(#1b1938)), -webkit-gradient(linear, left top, left bottom, from(#aa5cdb), to(#aa5cdb));
  background: linear-gradient(#1b1938, #1b1938), linear-gradient(#aa5cdb, #aa5cdb);
  border-radius: 25px;
  margin: 2rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main .main-img {
    border-radius: 25px 25px 0 0;
    background-image: url("../images/image-header-mobile.jpg"), -webkit-gradient(linear, left top, left bottom, from(#aa5cdb), to(#aa5cdb));
    background-image: url("../images/image-header-mobile.jpg"), linear-gradient(#aa5cdb, #aa5cdb);
  }
}

@media (min-width: 768px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main-img {
    border-radius: 0 25px 25px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-image: url("../images/image-header-desktop.jpg"), -webkit-gradient(linear, left top, left bottom, from(#aa5cdb), to(#aa5cdb));
    background-image: url("../images/image-header-desktop.jpg"), linear-gradient(#aa5cdb, #aa5cdb);
  }
  .main .main-body {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.main > .main-img {
  min-width: 100%;
  height: 100%;
}

.main > .main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .main > .main-body {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .main > .main-body {
    text-align: left;
  }
}

.main > .main-body > .main-txt {
  margin: 1rem;
  padding: 1rem;
}

.main > .main-body > .main-txt.txt-1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: white;
}

.main > .main-body > .main-txt.txt-1 .light-text {
  color: #aa5cdb;
}

.main > .main-body > .main-txt.txt-2 {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.main > .main-body > .main-txt.txt-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.75);
}

.main > .main-body > .main-txt.txt-3 .stat-txt {
  padding: 0.5rem;
}

.main > .main-body > .main-txt.txt-3 .bold-txt {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

@media (min-width: 576px) {
  .main > .main-body > .main-txt.txt-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  .main > .main-body > .main-txt.txt-3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
